{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book col-md-4">
                <h2>{{ book.name }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>
                Дата публикации: {{ book.pub_date }}
                </p>


            </div>
            {% endfor %}

        </div>
         <p>
        {% if back is not None %}
                <a href="{% url 'book' back.pub_date %}">
                <-{{ back.pub_date }}
                </a>
        {% endif %}
--
        {% if next is not None %}
                <a href="{% url 'book' next.pub_date %}">{{ next.pub_date }}->
                </a>
        {% endif %}
                </p>
    </div>
{% endblock %}